{% extends "layout.njk" %}

{% block content %}

    <div class="card">
        <section class="avatar" style="background: url({{disciplina.avatar_url}})
                    no-repeat center center / cover">
                    
        </section>

        <section class="details">

            <form method="POST" action="/disciplinas?_method=PUT">

                <h3>Editar Disciplina</h3>

                {% include 'disciplinas/fields.njk' %}

                <input type="hidden" name="id" value="{{disciplina.id}}">
            </form>

            <form id="form-delete" method="POST" action="/disciplinas?_method=DELETE">
                <input type="hidden" name="id" value="{{disciplina.id}}">
                <button type="submit">Deletar</button>
            </form>

        </section>

    </div>

   <script src="/js/scripts.js"></script>

{% endblock content %}